body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Background */
  background-image: url(https://wallpaperplay.com/walls/full/b/5/d/212455.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.navigation h1 {
  padding: 4px;
}

.games-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.game-thumb {
  display: flex;
  flex-flow: column;
  background-color: #efefef;
  align-items: center;
  margin: 12px;
}

.game-thumb-image-wrapper {
  position: relative;
}

.game-thumb-image {
  padding: 12px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.game-thumb-image-wrapper:hover .game-thumb-image {
  opacity: 0.2;
}

.game-thumb-image-description {
  /* Needed for the overlay to work */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Center the content vetically */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  /* Center horizontally */
  text-align: center;

  /* Other styling  */
  color: #000;
  font-size: 32px;

  /* Start as invisible */
  visibility: hidden;
  opacity: 0;

  /* Specify the animation time */
  webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.game-thumb-image-wrapper:hover .game-thumb-image-description {
  visibility: visible;
  opacity: 1;
}

.game-details {
  display: inline-block;
  padding: 16px;
  background-color: #efefef;
  align-items: center;
}

.game-details img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 16px;
  background-color: #6e6e6e;
}

.game-overview {
  display: flex;
  flex-flow: row;
}

.game-stats {
  padding: 12px;
  display: flex;
  flex-flow: column;
}
